body {
  background-color: #f9f3ea;
}

#content {
  width: 90%;
  margin: auto;
}

nav {
  @include flex(space-between, center, row);
  min-height: 10vh;
  //width: 60%;
  flex-wrap: wrap;
  margin-top: 2rem;
  cursor: pointer;
  font-weight: 500;
  color: #643911;
  .logo-div {
    @include flex(flex-start, center, row);
    flex: 1 1 30rem;
    img {
      max-width: 11%;
    }
    h1 {
      margin: 2rem 0.6rem;
      font-family: "montserrat-bold";
    }
  }

  ul {
    @include flex(space-around, center, row);
    flex: 1 1 15rem;
    li {
      font-size: 2.1rem;
    }
  }

  .cart {
    //max-width: 3%;
    margin: 0rem 0rem 0rem 2.5rem;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    height: 3%;
    width: 3%;

    border-radius: 5rem;
  }

  button {
    border: none;
    background-color: #f3bc58;
    padding: 1.2rem 3rem;
    margin: 0rem 2rem;
    border-radius: 3.5rem;
    cursor: pointer;
  }
  button:hover {
    box-shadow: 0px 10px 25px rgba(112, 112, 112, 0.2);
  }
}

.intro {
  margin: auto;
  margin-top: 2rem;
  min-height: 35vh;
  flex-wrap: wrap;
  @include flex(space-between, center, row);
  h2 {
    font-family: "montserrat-bold";
    color: #312000;
    margin-right: 2rem;
    margin-top: 10rem;
  }
  p {
    font-size: 2rem;
    margin: 2rem 4rem 0rem 0rem;
  }
}

.intro-image {
  flex: 1 1 40rem;
  margin-left: 8rem;
  display: flex;
  margin-bottom: 10rem;
  .food-image {
    margin-top: 2rem;
    max-width: 95%;
    //background-size: cover;
  }
  .intro-buttons {
    @include flex(space-around, center, column);
    min-height: 50vh;
    position: absolute;
    margin-top: 6rem;

    button {
      border: none;
      padding: 0rem;
      background-color: white;
      border-radius: 2.5rem;
      cursor: pointer;
      font-family: "dm-sans-bold", sans-serif;
      font-size: 1.8rem;
      color: #7c6855;
      transition: transform 0.5s;
      width: 20%;
      padding: 0.5rem;
    }
    button:hover {
      box-shadow: 0px 10px 20px rgba(97, 97, 97, 0.1);
      transform: scale(1.1);
    }
    .buttons {
      //flex: 1 1 5rem;
      margin: 1rem;
      margin-left: 33rem;
      img {
        max-width: 17%;
        //text-align: center;
        margin-left: 0.4rem;
      }
    }
  }
}

.intro-div {
  flex: 1 1 40rem;
  margin-bottom: 15rem;
  p {
    margin-top: 5rem;
  }
}

.button-search {
  ::placeholder {
    color: #643911;
    opacity: 1;
  }
  @include flex(flex-start, center, row);
  flex-wrap: wrap;
  .explore-button {
    border: none;
    padding: 1rem 2.3rem;
    border-radius: 3.5rem;
    margin-top: 5rem;
    color: #643911;
    margin-right: 2rem;
    background-color: #f3bc58;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 2.3rem;
  }
  .explore-button:hover {
    color: #f3bc58;
    background-color: #9e5d20;
  }
  .search-container {
    position: relative;
    img {
      max-width: 10%;
    }
  }
  .search-button {
    background-color: #f9f3ea;
    border: 0.3rem solid #fad18b;
    padding: 1rem 1rem;
    border-radius: 3rem;
    text-align: center;
    margin-top: 5rem;
    color: #643911;
    font-size: 2.3rem;
  }
  #input-img {
    position: absolute;
    top: 6.4rem;
    right: 19rem;
  }
}

// MENU SECTION
.title-button-div {
  @include flex(space-between, center, row);
  min-height: 10vh;
  margin-bottom: 4rem;
  .menu-title {
    flex: 2 1 30rem;
    color: #312000;
  }
  .round {
    margin: 0rem 0.8rem;
    padding: 0.5rem 1.6rem;
    border-radius: 50%;
    cursor: pointer;
  }
  .next {
    margin-right: 2.4rem;
    // background-color: #f0bc57;
    border: 0.2rem solid #fad18b;
    transition: background 0.3s ease-in-out;
  }
  .previous {
    border: 0.2rem solid #fad18b;
    transition: background 0.3s ease-in-out;
  }
  .next:hover,
  .previous:hover {
    background: #fad18b;
    border: 0.2rem solid white;
  }
}

// CARDS
.cards-div {
  @include flex(space-between, center, row);
  min-height: 50vh;
  align-items: center;
  flex-wrap: wrap;
  .card-div {
    text-align: center;
    flex: 1 1 15rem;
    min-height: 45vh;
    margin: 0rem 1rem;
    background-color: white;
    border-radius: 1.5rem;
    margin-bottom: 4rem;
    transition: transform 0.5s;
    cursor: pointer;
  }
  .card-div:hover {
    transform: scale(1.1);
    box-shadow: 0px 10px 20px rgba(97, 97, 97, 0.1);
  }
  img {
    max-width: 55%;
    margin: 2rem 0rem 0rem 0rem;
  }
  .food-2 {
    max-width: 60%;
  }
  .food-4 {
    max-width: 83%;
  }
  .rating {
    max-width: 15%;
    margin: 0;
    //margin: 0rem 0rem 0.5rem 0rem;
  }
  p {
    margin: 1rem 1rem;
    font-size: 1.8rem;
  }
  .price {
    font-size: 1.8rem;
    text-align: left;
    margin-left: 3.5rem;
    margin-top: 2.5rem;
    color: #312000;
  }
  h4 {
    color: #312000;
  }
  button {
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #312000;
    background-color: white;
    border: 0.2rem solid #fad18b;
    border-radius: 2rem;
    padding: 0.7rem 1.4rem;
    //text-align: right;
    margin: 0rem 0rem 2rem 4.5rem;
    transition: background 0.1s ease-in-out;
    cursor: pointer;
  }
  button:hover {
    background: #fad18b;
    border: 0.2rem solid white;
  }
}

@font-face {
  font-family: montserrat-bold;
  src: url("../fonts/MontserratAlternates-Bold.ttf");
}

@font-face {
  font-family: dm-sans-bold;
  src: url("../fonts/DMSans-Bold.ttf");
}
