body {
  background-color: #f9f3ea;
}

#content {
  width: 90%;
  margin: auto;
}

nav {
  @include flex(space-between, center, row);
  min-height: 10vh;
  //width: 60%;
  flex-wrap: wrap;
  margin-top: 2rem;
  cursor: pointer;
  font-weight: 500;
  color: #643911;
  .logo-div {
    @include flex(flex-start, center, row);
    flex: 1 1 30rem;
    img {
      max-width: 11%;
    }
    h1 {
      margin: 2rem 0.6rem;
      font-family: "montserrat-bold";
    }
  }

  ul {
    @include flex(space-around, center, row);
    flex: 1 1 15rem;
  }

  .cart {
    //max-width: 3%;
    margin: 0rem 0rem 0rem 2.5rem;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    height: 3%;
    width: 3%;

    border-radius: 5rem;
  }

  button {
    border: none;
    background-color: #f3bc58;
    padding: 1.2rem 3rem;
    margin: 0rem 2rem;
    border-radius: 3.5rem;
    cursor: pointer;
  }
  button:hover {
    box-shadow: 0px 10px 25px rgba(112, 112, 112, 0.2);
  }
}

.intro {
  margin: auto;
  margin-top: 2rem;
  min-height: 85vh;
  flex-wrap: wrap;
  @include flex(space-between, center, row);
  h2 {
    font-family: "montserrat-bold";
    color: #312000;
    margin-right: 2rem;
    margin-top: 10rem;
  }
  p {
    font-size: 2rem;
    margin: 2rem 4rem 0rem 0rem;
  }
}

.intro-image {
  flex: 1 1 40rem;
  margin-left: 8rem;
  position: relative;
  img {
    // margin: 0rem 0rem 0rem 0rem;
    margin-top: 2rem;
    max-width: 95%;
    background-size: cover;
  }
  .intro-buttons {
    @include flex(space-between, center, column);
    min-height: 45vh;
    position: absolute;
    top: 18%;
    right: 2rem;

    button {
      border: none;
      padding: 0.7rem 3.8rem;
      background-color: white;
      border-radius: 2.5rem;
      cursor: pointer;
      font-family: "dm-sans-bold", sans-serif;
      font-size: 1.8rem;
      color: #643911;
      transition: transform 0.5s;
    }
    button:hover {
      box-shadow: 0px 10px 20px rgba(97, 97, 97, 0.1);
      transform: scale(1.1);
    }
    .button-1,
    .button-2,
    .button-3,
    .button-4,
    .button-5 {
      position: relative;
    }
    #dishes-img,
    #dessert-img,
    #drinks-img,
    #platter-img,
    #snacks-img {
      width: 17%;
      position: absolute;
    }
    #dishes-img {
      bottom: 18%;
      right: 10.8rem;
    }
    #dessert-img {
      bottom: 22%;
      right: 11.2rem;
    }
    #drinks-img {
      bottom: 25%;
      right: 10.3rem;
    }
    #platter-img {
      width: 16%;
      bottom: 22%;
      right: 10.8rem;
    }
    #snacks-img {
      width: 16%;
      bottom: 24%;
      right: 11.2rem;
    }
  }
}

.intro-div {
  flex: 1 1 40rem;
  margin-bottom: 18rem;
  p {
    margin-top: 5rem;
  }
}

.button-search {
  ::placeholder {
    color: #643911;
    opacity: 1;
  }
  @include flex(flex-start, center, row);
  flex-wrap: wrap;
  .explore-button {
    border: none;
    padding: 1rem 2.3rem;
    border-radius: 3.5rem;
    margin-top: 5rem;
    color: #643911;
    margin-right: 2rem;
    background-color: #f3bc58;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 2.3rem;
  }
  .explore-button:hover {
    color: #f3bc58;
    background-color: #9e5d20;
  }
  .search-container {
    position: relative;
    img {
      max-width: 10%;
    }
  }
  .search-button {
    background-color: #f9f3ea;
    border: 0.3rem solid #fad18b;
    padding: 1rem 1rem;
    border-radius: 3rem;
    text-align: center;
    margin-top: 5rem;
    color: #643911;
    font-size: 2.3rem;
  }
}

#input-img {
  position: absolute;
  top: 6.4rem;
  right: 19rem;
}

@font-face {
  font-family: montserrat-bold;
  src: url("../fonts/MontserratAlternates-Bold.ttf");
}

@font-face {
  font-family: dm-sans-bold;
  src: url("../fonts/DMSans-Bold.ttf");
}
