* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #2c2c2c;
}

h1 {
  font-size: 2.5rem;
}

li,
button,
label,
input,
a,
p {
  font-size: 2rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 3rem;
}

h4,
h5 {
  font-size: 1.8rem;
}

ul {
  list-style: none;
}

a {
  color: #2c2c2c;
  text-decoration: none;
}

body {
  background-color: #f9f3ea;
  font-family: "quicksand", sans-serif;
}

#content {
  width: 90%;
  margin: auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 10vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2rem;
  cursor: pointer;
  font-weight: 500;
  color: #643911;
}

nav .logo-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
}

nav .logo-div img {
  max-width: 11%;
}

nav .logo-div h1 {
  margin: 2rem 0.6rem;
  font-family: "montserrat-bold";
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 15rem;
          flex: 1 1 15rem;
  align-items: center;
}

nav ul li {
  font-size: 2.1rem;
}

nav .cart {
  margin: 0rem 0rem 0rem 2.5rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
          box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
  height: 3%;
  width: 3%;
  border-radius: 5rem;
}

nav button {
  border: none;
  background-color: #f3bc58;
  padding: 1.2rem 3rem;
  margin: 0rem 2rem;
  border-radius: 3.5rem;
  cursor: pointer;
}

nav button:hover {
  -webkit-box-shadow: 0px 10px 25px rgba(112, 112, 112, 0.2);
          box-shadow: 0px 10px 25px rgba(112, 112, 112, 0.2);
}

.intro {
  margin: auto;
  margin-top: 2rem;
  min-height: 35vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.intro h2 {
  font-family: "montserrat-bold";
  color: #312000;
  margin-right: 2rem;
  margin-top: 10rem;
}

.intro p {
  font-size: 2rem;
  margin: 2rem 4rem 0rem 0rem;
}

.intro-image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  margin-left: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10rem;
}

.intro-image .food-image {
  margin-top: 2rem;
  max-width: 95%;
  margin-right: 5rem;
}

.intro-image .intro-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 52vh;
  position: absolute;
  width: 40%;
  margin: auto;
  margin-top: 6rem;
}

.intro-image .intro-buttons button {
  border: none;
  padding: 0rem;
  background-color: white;
  border-radius: 2.5rem;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: bold;
  color: #7c6855;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  max-width: 20%;
  padding: 0.5rem;
  font-family: "quicksand", sans-serif;
}

.intro-image .intro-buttons button:hover {
  -webkit-box-shadow: 0px 10px 20px rgba(97, 97, 97, 0.1);
          box-shadow: 0px 10px 20px rgba(97, 97, 97, 0.1);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.intro-image .intro-buttons .buttons {
  margin: 1rem;
}

.intro-image .intro-buttons .buttons img {
  max-width: 17%;
  margin-left: 0.4rem;
}

.intro-image .intro-buttons .buttons img:before {
  padding: 2rem;
}

.intro-div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  margin-bottom: 12rem;
}

.intro-div p {
  margin-top: 5rem;
}

.button-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.button-search ::-webkit-input-placeholder {
  color: #643911;
  opacity: 1;
}

.button-search :-ms-input-placeholder {
  color: #643911;
  opacity: 1;
}

.button-search ::-ms-input-placeholder {
  color: #643911;
  opacity: 1;
}

.button-search ::placeholder {
  color: #643911;
  opacity: 1;
}

.button-search .explore-button {
  border: none;
  padding: 1rem 2.3rem;
  border-radius: 3.5rem;
  margin-top: 5rem;
  color: #643911;
  margin-right: 2rem;
  background-color: #f3bc58;
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
          box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
  border: 0.3rem solid white;
  cursor: pointer;
  font-size: 2.3rem;
  font-family: "quicksand", sans-serif;
}

.button-search .explore-button:hover {
  color: #f3bc58;
  background-color: #9e5d20;
}

.button-search .search-container {
  position: relative;
}

.button-search .search-container img {
  max-width: 10%;
}

.button-search .search-button {
  background-color: #f9f3ea;
  border: 0.3rem solid #fad18b;
  padding: 1rem 1rem;
  border-radius: 3rem;
  text-align: center;
  margin-top: 5rem;
  color: #643911;
  font-size: 2.3rem;
  font-family: "quicksand", sans-serif;
}

.button-search #input-img {
  position: absolute;
  top: 6.4rem;
  right: 19rem;
}

.title-button-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 10vh;
  margin-bottom: 3rem;
}

.title-button-div .menu-title {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 30rem;
          flex: 2 1 30rem;
  color: #312000;
}

.title-button-div .round {
  margin: 0rem 0.8rem;
  padding: 0.5rem 1.6rem;
  border-radius: 50%;
  cursor: pointer;
}

.title-button-div .next {
  margin-right: 2.4rem;
  border: 0.2rem solid #fad18b;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.title-button-div .previous {
  border: 0.2rem solid #fad18b;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.title-button-div .next:hover,
.title-button-div .previous:hover {
  background: #fad18b;
  border: 0.2rem solid white;
}

.cards-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 50vh;
  align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 9rem;
}

.cards-div .card-div {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 15rem;
          flex: 1 1 15rem;
  min-height: 45vh;
  margin: 0rem 1rem;
  background-color: white;
  border-radius: 1.5rem;
  margin-bottom: 4rem;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  cursor: pointer;
  min-width: 30vh;
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
          box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
}

.cards-div .card-div:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 10px 20px rgba(97, 97, 97, 0.1);
          box-shadow: 0px 10px 20px rgba(97, 97, 97, 0.1);
}

.cards-div img {
  max-width: 55%;
  margin: 2rem 0rem 0rem 0rem;
}

.cards-div .food-2 {
  max-width: 60%;
}

.cards-div .food-4 {
  max-width: 83%;
}

.cards-div .rating {
  max-width: 15%;
  margin: 0;
}

.cards-div p {
  margin: 1rem 1rem;
  font-size: 1.8rem;
  padding: 0rem 0.5rem;
}

.cards-div .price {
  font-size: 1.8rem;
  text-align: left;
  margin-left: 3.5rem;
  margin-top: 2.5rem;
  color: #312000;
}

.cards-div h4 {
  color: #312000;
}

.cards-div button {
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #312000;
  background-color: white;
  border: 0.2rem solid #fad18b;
  border-radius: 2rem;
  padding: 0.7rem 1.4rem;
  margin: 0rem 0rem 2rem 4.5rem;
  -webkit-transition: background 0.1s ease-in-out;
  transition: background 0.1s ease-in-out;
  cursor: pointer;
  font-family: "quicksand", sans-serif;
}

.cards-div button:hover {
  background: #fad18b;
  border: 0.2rem solid white;
}

.chef-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 13rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.chef-div .chef-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50rem;
          flex: 1 1 50rem;
}

.chef-div .chef-img img {
  max-width: 100%;
  border-radius: 3rem;
}

.chef-div .chef-desc {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50rem;
          flex: 1 1 50rem;
  min-height: 70vh;
  color: #312000;
  margin: 0rem 0rem 0rem 2rem;
}

.chef-div .chef-desc h3 {
  margin-top: 2rem;
  padding: 0rem 18rem 0rem 0rem;
}

.chef-div .chef-desc .chef-txt {
  font-size: 2rem;
  margin: 3rem 0rem 3rem 0rem;
}

.chef-div .chef-desc .chef-opt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.chef-div .chef-desc .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 50%;
}

.chef-div .chef-desc .opt-img {
  max-width: 10%;
  margin-right: 1.5rem;
  background-color: white;
  padding: 0.1rem;
  border-radius: 50%;
}

.chef-div .chef-desc .opt-txt {
  position: relative;
  bottom: 0.7rem;
  right: 0.5rem;
  margin: 1rem 0rem;
  font-weight: bold;
}

.chef-div .chef-desc button {
  border: none;
  font-size: 1.8rem;
  font-weight: bold;
  color: #312000;
  background-color: #fad18b;
  font-family: "quicksand", sans-serif;
  border-radius: 2rem;
  padding: 0.8rem 4rem;
  margin: 1rem 0rem 2rem 0rem;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.chef-div .chef-desc button:hover {
  color: #fad18b;
  background-color: #312000;
}

.plan-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 10rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.plan-div h3 {
  margin: 0rem 0rem 3rem 0rem;
}

.plan-div .plan-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.plan-div .plan-img img {
  max-width: 80%;
  border-radius: 3rem;
}

.plan-div .plan-desc {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50rem;
          flex: 1 1 50rem;
  min-height: 50vh;
}

.plan-div .plan-desc h3 {
  padding-right: 13rem;
}

.plan-div .plan-desc .plan-txt {
  padding-right: 3rem;
}

.plan-div .plan-desc button {
  border: none;
  font-size: 2rem;
  font-weight: bold;
  color: #312000;
  background-color: #fad18b;
  font-family: "quicksand", sans-serif;
  border-radius: 2rem;
  padding: 0.8rem 4rem;
  margin: 5rem 0rem 2rem 0rem;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.plan-div .plan-desc button:hover {
  color: #fad18b;
  background-color: #312000;
}

.review .cards-div {
  margin-bottom: 8rem;
}

.review .card-div {
  background-color: #faead6;
  min-height: 20vh;
}

.review p {
  text-align: left;
  padding: 1rem 2rem 0.5rem 2rem;
}

.review .price {
  text-align: left;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}

.review .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-left: 3rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.chefs-div .cards-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.chefs-div .card-div {
  max-width: 25rem;
}

.chefs-div .profile {
  max-width: 60%;
  border-radius: 2.5rem;
}

.chefs-div .name {
  margin: 1rem 0rem 2rem 0rem;
}

footer {
  color: white;
  background: #643911;
}

footer .footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  width: 90%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 10vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer h5 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  font-size: 2.5rem;
}

@font-face {
  font-family: montserrat-bold;
  src: url("../fonts/MontserratAlternates-Bold.ttf");
}

@font-face {
  font-family: dm-sans-bold;
  src: url("../fonts/DMSans-Bold.ttf");
}

@font-face {
  font-family: quicksand;
  src: url("../fonts/Quicksand-VariableFont_wght.ttf");
}

@media screen and (max-width: 932px) {
  footer {
    text-align: center;
  }
  footer h5 {
    padding-bottom: 3rem;
  }
}
/*# sourceMappingURL=style.css.map */